.layout {
  min-height: 100vh;
  background: var(--BACKGROUND);
  overflow: hidden;
}

.content {
  margin-top: 64px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}