.card {
    width: 90%;
    max-width: 500px;
    min-width: 320px;
    padding: 20px !important;
    border-radius: 12px;
    background-color: var(--CONTAINER);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

}

.header {
    color: var(--TEXT) !important;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: 600;
}


.buttonFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contentStatic{
    color: var(--MINOR_TEXT);
}

.ChangeButton{
    padding: 20px;
    text-align: center;
}