.table {
  width: 100%;
  max-width: 700px;
  min-width: 500px;
  border-radius: 16px;
  background-color: var(--TABLE_CONTAINER);
  overflow: hidden;
}

.tableRow {
  background-color: var(--TABLE_CONTAINER);
  color: var(--TEXT) !important;
  transition: background-color 0.3s ease;
}

.table :global(.ant-table-row:hover .ant-table-cell) {
  background-color: var(--TABLE_CONTAINER_HOVER) !important;
}

.table :global(.ant-table-thead > tr > th) {
  background-color: var(--CONTAINER);
  color: var(--TEXT);
  border-bottom: 1px solid var(--TABLE_CONTAINER_HOVER);
  font-weight: 600;
}


.table :global(.ant-table-tbody > tr > td) {
  border-bottom: 1px solid var(--CONTAINER);
}

.table :global(.ant-table-expand-icon-cell) {
  background-color: var(--TABLE_CONTAINER) !important;
}

.table :global(.ant-table-row-expand-icon) {
  background-color: var(--TABLE_CONTAINER);
  color: var(--TEXT) !important;
}

.table :global(.ant-pagination) {
  background-color: var(--TABLE_CONTAINER);
  padding: 12px;
  text-align: center;
}

.table :global(.ant-pagination-item) {
background-color: var(--TABLE_CONTAINER);
}
.table :global(.ant-pagination-item:hover) {
  border-color: var(--INFILL);
}

.table :global(.ant-pagination-prev .anticon),
.table :global(.ant-pagination-next .anticon),
.table :global(.ant-pagination-item a) {
  color: var(--TEXT) !important;
}

.table :global(.ant-pagination-item-active) {
  background-color: var(--CONTAINER);
  border-color: var(--TABLE_CONTAINER_HOVER);
}

.table :global(.ant-pagination-item-active a) {
  color: var(--HOVER_TEXT);
}

.table :global(.ant-table-container),
.table :global(.ant-table-content),
.table :global(.ant-table-body) {
  background-color: var(--CONTAINER) !important;
}

.table :global(.ant-table-body)::-webkit-scrollbar {
  background: var(--CONTAINER);
}

.table :global(.ant-table-expanded-row) {
  background-color: var(--TABLE_CONTAINER_HOVER) !important;
  color: var(--TEXT);
}

.table :global(.ant-table-expanded-row > .ant-table-cell) {
  background-color: var(--TABLE_CONTAINER_HOVER) !important;
}

.table :global(.ant-table-expanded-row-fixed) {
  background-color: var(--TABLE_CONTAINER_HOVER);
  color: var(--TEXT);
}

.table :global(.anticon-search) {
  color: var(--TEXT) !important;
  transition: color 0.2s ease;
}

.table :global(.ant-table-tbody > tr:not(.ant-table-expanded-row) > td:last-child) {
  text-align: right !important;
}

.search_container{
    background-color: var(--CONTAINER_LIGHTER);
}

/* Empty table container */
.table :global(.ant-table-empty .ant-table-placeholder),
.table :global(.ant-empty),
.table :global(.ant-empty-normal) {
  background-color: var(--TABLE_CONTAINER) !important;
  color: var(--TEXT) !important;
  border-top: 1px solid var(--TABLE_CONTAINER_HOVER) !important;
  
}

.table :global(.ant-empty-description),
.table :global(.ant-empty p),
.noDataContainer p {
  color: var(--TEXT) !important;
  font-style: italic !important;
  margin-top: 4px;
}

.noDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  color: var(--TEXT);
  background-color: var(--TABLE_CONTAINER);
}

.noDataContainer svg {
  color: var(--TEXT);
  opacity: 0.8;
}

.table :global(.ant-table-placeholder .ant-table-cell) {
  padding: 0 !important;
}

.extraButtonStyle{
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: auto !important;
}

.expandedRow {
  padding: 0px 24px;
  background-color: var(--TABLE_CONTAINER_HOVER);
  color: var(--TEXT);
}

.expandedRow p {
  margin-bottom: 12px;
  color: var(--TEXT);
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.questionCard {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--MINOR_TEXT);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.correct {
  border-left: 5px solid var(--CORRECT);
}

.incorrect {
  border-left: 5px solid var(--ERROR);
}

.questionImage,
.answerImage {
  max-width: 100px;
  max-height: 100px;
  margin-top: 0.5rem;
  border-radius: 8px;
  object-fit: contain;
}

.resultText {
  margin-top: 0.5rem;
}

.correctText {
  color: var(--CORRECT) !important;
}

.incorrectText {
  color: var(--ERROR) !important;
}

.chart{
  background-color: none;
  color: #fff;
}

.recharts-rectangle:hover {
  opacity: 0 !important;
  fill: #34D399 !important;
}