@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../../assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.card {
    width: 100%;
    max-width: 500px;
    min-width: 320px;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: var(--TEXT);
    align-items: center;
    justify-content: center;
}

.header {
    color: #000;
    text-align: center;
    font-family: 'PlusJakartaSans', sans-serif;
    margin: 0px;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}

.scoreGood,
.scoreBad,
.avg {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* allow title above value */
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-family: 'PlusJakartaSans', sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.scoreGood {
    background-image: linear-gradient(to right, #d2e6f8, #76bfff);
}

.scoreBad {
    background-image: linear-gradient(to right, #f8d2d2, #ff7676);
}

.avg {
    background-image: linear-gradient(to right, #bdfbc4, #68f676);
}

.boxTitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--CONTAINER_LIGHTER);
    margin-bottom: 4px;
    text-transform: uppercase;
    opacity: 0.8;
}

.boxValue {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.sentence {
    text-align: center;
    font-family: 'PlusJakartaSans', sans-serif;
}

.homeButton,
.button {
    font-family: 'PlusJakartaSans', sans-serif;
    padding: 20px;
    color: var(--TEXT);
    border: none;

}

.homeButton:hover,
.button:hover {
    color: var(--TEXT) !important;

}

.button {
    background-image: linear-gradient(to right, #4fe761, #2ed43f);
}
.button:hover{
    background-image: linear-gradient(to right, #33d346, #19ba29) !important;
}

.homeButton{
    background-image: linear-gradient(to right, #76bfff, #4caafb);

}

.homeButton:hover{    
    background-image: linear-gradient(to right, #5aa1df, #378eda) !important;

}


.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}