@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../../assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.question { 
    background-color: var(--YELLOW);
    background-image: linear-gradient(to right, var(--YELLOW_LIGHTER), var(--YELLOW));
    border: 5px solid  var(--ORANGE);
    padding: 40px;
    max-width: 70%;
    min-width: 50%;
    border-radius: 16px;
    font-family: 'PlusJakartaSans', sans-serif;
    font-size: large;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.50);
}

.image{
    border-radius: 16px;
    border: 5px solid  var(--ORANGE);
    box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.50);
}

