@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../../assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.question { 
    background-color: var(--YELLOW);
    background-image: linear-gradient(to right, var(--YELLOW_LIGHTER), var(--YELLOW));
    border: 5px solid  var(--ORANGE);
    padding: 40px;
    max-width: 70%;
    min-width: 50%;
    border-radius: 16px;
    font-family: 'PlusJakartaSans', sans-serif;
    font-size: large;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.50);
}

.image{
    border-radius: 16px;
    border: 5px solid  var(--ORANGE);
    box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.50);
}

.container {
    width: 100%;
}

/* Fixed timer at top-right */
.timerWrapper {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 1000; /* ensure it's on top of other content */
  width: 10%;
  min-width: 100px;
  max-width: 200px;
}

.score1 {
    color: gold;
    font-family: 'PlusJakartaSans', sans-serif;
    margin: 0px;
}

.score2 {
    color: silver;
    font-family: 'PlusJakartaSans', sans-serif;
    margin: 0px;
}

.score3 {
    color: #cd7f32;
    font-family: 'PlusJakartaSans', sans-serif;
    margin: 0px;
}



.scores{
font-family: 'PlusJakartaSans', sans-serif;
    font-size: large;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'PlusJakartaSans', sans-serif;
}

.scrollArea {
  width: 100%;
  max-width: 500px;
  margin: 0;
  height: 50vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0px 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.scrollArea::-webkit-scrollbar {
  width: 8px;
}

.scrollArea::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

.scrollArea::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 217, 217, 0.7);
}

.removeButton {
  font-family: 'PlusJakartaSans', sans-serif;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.removeButton:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

.button,
.homeButton {
  font-family: 'PlusJakartaSans', sans-serif;
  padding: 20px;
}

.button {
    background-image: linear-gradient(to right, #4fe761, #2ed43f);
}
.button:hover{
    background-image: linear-gradient(to right, #33d346, #19ba29) !important;
}

.homeButton{
    background-image: linear-gradient(to right, #76bfff, #4caafb);

}

.homeButton:hover{    
    background-image: linear-gradient(to right, #5aa1df, #378eda) !important;

}
