:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--BACKGROUND);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --INFILL: #359EFF;
  --BACKGROUND: #131922;
  --CONTAINER: #232936;
  --HOVER_INFILL: #145087;
  --MINOR_TEXT: #9CA3AF;
  --CORRECT: #34D399;
  --ERROR: #d33434;
  --TEXT: #FFFFFF;
  --HOVER_TEXT: #d9d9d9;
}

.ant-form-item-label > label {
  color: var(--TEXT) !important;
}

.ant-card .ant-card-body {
  padding-top: 0  !important;
  padding-bottom: 0  !important;
}

.ant-layout {
  min-height: 100vh;
  background: var(--BACKGROUND);
  overflow: hidden;
}
.ant-layout-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

body {
  margin: 0;
}

